@tailwind base;

html {
  scroll-behavior: smooth;
}

@tailwind components;

.all-prose {
  @apply prose prose-lg lg:prose-xl;
}

@tailwind utilities;



.btn {
	text-transform: none;
	
}



@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 200;
  src: local(''),
       url('/assets/fonts/Gilroy/Gilroy-UltraLight.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/Gilroy/Gilroy-UltraLight.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* source-code-pro-200italic - latin */
@font-face {
  font-family: 'Gilroy';
  font-style: italic;
  font-weight: 200;
  src: local(''),
       url('/assets/fonts/Gilroy/Gilroy-UltraLightItalic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/Gilroy/Gilroy-UltraLightItalic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* 300 */
@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('/assets/fonts/Gilroy/Gilroy-Light.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/Gilroy/Gilroy-Light.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* regular */
@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('/assets/fonts/Gilroy/Gilroy-Regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/Gilroy/Gilroy-Regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* 300 italic */
@font-face {
  font-family: 'Gilroy';
  font-style: italic;
  font-weight: 300;
  src: local(''),
       url('/assets/fonts/Gilroy/Gilroy-LightItalic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/Gilroy/Gilroy-LightItalic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* italic */
@font-face {
  font-family: 'Gilroy';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('/assets/fonts/Gilroy/Gilroy-RegularItalic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/Gilroy/Gilroy-RegularItalic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* 500 italic */
@font-face {
  font-family: 'Gilroy';
  font-style: italic;
  font-weight: 500;
  src: local(''),
       url('/assets/fonts/Gilroy/Gilroy-MediumItalic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/Gilroy/Gilroy-MediumItalic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* source-code-pro-500 - latin */
@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('/assets/fonts/Gilroy/Gilroy-Medium.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/Gilroy/Gilroy-Medium.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* source-code-pro-600 - latin */
@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('/assets/fonts/Gilroy/Gilroy-SemiBold.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/Gilroy/Gilroy-SemiBold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* source-code-pro-600italic - latin */
@font-face {
  font-family: 'Gilroy';
  font-style: italic;
  font-weight: 600;
  src: local(''),
       url('/assets/fonts/Gilroy/Gilroy-SemiBoldItalic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/Gilroy/Gilroy-SemiBoldItalic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* source-code-pro-700italic - latin */
@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('/assets/fonts/Gilroy/Gilroy-Bold.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/Gilroy/Gilroy-Bold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* source-code-pro-700 - latin */
@font-face {
  font-family: 'Gilroy';
  font-style: italic;
  font-weight: 700;
  src: local(''),
       url('/assets/fonts/Gilroy/Gilroy-BoldItalic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/Gilroy/Gilroy-BoldItalic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* source-code-pro-800italic - latin */
@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('/assets/fonts/Gilroy/Gilroy-ExtraBold.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/Gilroy/Gilroy-ExtraBold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* source-code-pro-800 - latin */
@font-face {
  font-family: 'Gilroy';
  font-style: italic;
  font-weight: 700;
  src: local(''),
       url('/assets/fonts/Gilroy/Gilroy-ExtraBoldItalic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/Gilroy/Gilroy-ExtraBoldItalic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* source-code-pro-900 - latin */
@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 900;
  src: local(''),
       url('/assets/fonts/Gilroy/Gilroy-Black.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/Gilroy/Gilroy-Black.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* source-code-pro-900italic - latin */
@font-face {
  font-family: 'Gilroy';
  font-style: italic;
  font-weight: 900;
  src: local(''),
       url('/assets/fonts/Gilroy/Gilroy-BlackItalic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/Gilroy/Gilroy-BlackItalic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}




@font-face {
  font-family: 'Norwester Pro';
  font-weight: bold;
  font-style: normal;
  font-display: block;
  src: local('Norwester Pro'),
       local('NorwesterPro-Regular'),
       url('/assets/fonts/NorwesterPro/NorwesterPro-Regular.woff2')
       format('woff2');
}

@font-face {
  font-family: 'Norwester Pro Oblique';
  font-weight: bold;
  font-style: normal;
  font-display: block;
  src: local('Norwester Pro Oblique'),
       local('NorwesterPro-RegularOblique'),
       url('/assets/fonts/NorwesterPro/NorwesterPro-RegularOblique.woff2')
       format('woff2');
}

@font-face {
  font-family: 'Norwester Pro Regular';
  font-weight: bold;
  font-style: normal;
  font-display: block;
  src: local('Norwester Pro Regular'),
       local('NorwesterPro-Regular'),
       url('/assets/fonts/NorwesterPro/NorwesterPro-Regular.woff2')
       format('woff2');
}

@font-face {
  font-family: 'Norwester Pro Regular Oblique';
  font-weight: bold;
  font-style: normal;
  font-display: block;
  src: local('Norwester Pro Regular Oblique'),
       local('NorwesterPro-RegularOblique'),
       url('/assets/fonts/NorwesterPro/NorwesterPro-RegularOblique.woff2')
       format('woff2');
}

@font-face {
  font-family: 'Norwester Pro Rounded';
  font-weight: bold;
  font-style: normal;
  font-display: block;
  src: local('Norwester Pro Rounded'),
       local('NorwesterPro-Rounded'),
       url('/assets/fonts/NorwesterPro/NorwesterPro-Rounded.woff2')
       format('woff2');
}

@font-face {
  font-family: 'Norwester Pro Rounded Oblique';
  font-weight: bold;
  font-style: normal;
  font-display: block;
  src: local('Norwester Pro Rounded Oblique'),
       local('NorwesterPro-RoundedOblique'),
       url('/assets/fonts/NorwesterPro/NorwesterPro-RoundedOblique.woff2')
       format('woff2');
}

@font-face {
  font-family: 'Norwester Pro Square';
  font-weight: bold;
  font-style: normal;
  font-display: block;
  src: local('Norwester Pro Square'),
       local('NorwesterPro-Square'),
       url('/assets/fonts/NorwesterPro/NorwesterPro-Square.woff2')
       format('woff2');
}

@font-face {
  font-family: 'Norwester Pro Square Oblique';
  font-weight: bold;
  font-style: normal;
  font-display: block;
  src: local('Norwester Pro Square Oblique'),
       local('NorwesterPro-SquareOblique'),
       url('/assets/fonts/NorwesterPro/NorwesterPro-SquareOblique.woff2')
       format('woff2');
}


.nw-regular {
  font-family: 'Norwester Pro Regular';
}

.nw-regular-obl,
.nw-regular em {
  font-family: 'Norwester Pro Regular Oblique';
  font-style: normal;
}

.nw-rounded {
  font-family: 'Norwester Pro Rounded';
}

.nw-rounded-obl,
.nw-rounded em {
  font-family: 'Norwester Pro Rounded Oblique';
}

.nw-square {
  font-family: 'Norwester Pro Square';
}

.nw-square-obl,
.nw-square em {
  font-family: 'Norwester Pro Square Oblique';
}

.nw-ss01,
.nw-salt {
  /* C ð J Ľ S Ü Z @ & */
  font-feature-settings: 'ss01';
}

.nw-uppercase {
  text-transform: uppercase;
  /* Default to no ligatures */
  font-variant-ligatures: none;
}

.nw-all-small-caps {
  font-variant-caps: all-small-caps;
}

.nw-liga {
  text-transform: uppercase;
  /* CA CO. EA LA LI LL TH */
  font-variant-ligatures: common-ligatures;
}

.nw-liga-off {
  /* Turn common-ligatures off but keep discretionary */
  font-feature-settings: 'liga' off;
}

.nw-dliga {
  text-transform: uppercase;
  /* FOR, OF THE, AND, etc */
  font-variant-ligatures: discretionary-ligatures;
}

.nw-lining-nums {
  font-variant-numeric: lining-nums;
}

.nw-tabular-nums {
  font-variant-numeric: tabular-nums;
}

.nw-oldstyle-nums {
  font-variant-numeric: oldstyle-nums;
}
